#search .new_search {
    height: 46px;
    border-radius: 10px;
}

.fa-heart {
    background: url('/catalog/view/theme/unishop2/image/Heart_01.svg') no-repeat center;
    background-size: contain;
    width: 24px; /* Задай нужный размер */
    height: 24px;
    display: inline-block;
    font-size: 0; /* Чтобы не отображалась старая иконка */
}

.fa-shopping-bag {
    background: url('/catalog/view/theme/unishop2/image/Shopping_Cart_02.svg') no-repeat center;
    background-size: contain;
    width: 24px; /* Задай нужный размер */
    height: 24px;
    display: inline-block;
    font-size: 0; /* Чтобы не отображалась старая иконка */
}

.fa-heart:before {
    content: ""!important;
}

.fa-shopping-bag:before {
    content: ""!important;
}

#logo {
    width: 148px;
    padding-bottom: 0px;

}

.row {
    margin: 0px!important;
    margin-right: 0px!important;;
    margin-left: 0px!important;;
}

.header-search__form {
    max-width: 730px;
}

.header-search {
    max-width: 730px;
    margin-left: 220px;
}

.header-account:after, .header-wishlist:after, .header-compare:after, .header-cart:after {
    display: none!important;
}

.header-top {
    height: 48px;
    background-color: #F6F6F6;
}

.header-top__inner, .container_header-top {
    height: 100%;
}


.header-top__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__contact, .header-top__menu {
    display: flex;
    gap: 24px;
}

.header-top__info {
    display: flex;
    gap: 12px;
}

.header-top__phone {
    display: flex;
    align-items: center;
}

.header-top__location {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-top__menu-item a {
    color: black;
    font-weight: 300;
}

.header-block__item-search {
    order: 0!important;
    padding: 0;
}

.wrapper-right-block {
    display: flex;
    align-items: center;
    gap: 12px;
}

.wrapper-right-block .header-block__item-wishlistNew {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.wrapper-right-block .header-block__item-cartNew {
    padding: 0;
}

.header-account, .header-wishlist, .header-compare, .header-cart {
    margin-top: 0!important;
}

.img-responsiveNew {
    width: 150px;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
}


.menuNew__right-list, .menuNew__list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.menuNew__item {
    padding: 0;
}

.menuNew__button-arrow {
    margin-left: 4px;
}

.menuNew__link {
    color: black;
    font-weight: 400;
}

.menuNew__button a {
    color: white;
}

.menuNew__button {
    background-color: #F96158;
    padding: 10px 8px 10px 16px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .header-search {
        max-width: 724px;
        margin-left: 24px;
    }
}