<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<title>{{ title }}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<base href="{{ base }}" />
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
{% if og_url%}
<meta property="og:url" content="{{ og_url }}" />
{% endif %}
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<meta name="theme-color" content="#{{ theme_color }}" />
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">
<link rel="stylesheet" href="/catalog/view/theme/unishop2/stylesheet/header_new.css">
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for font in font_preload %}
	<link href="{{ font }}" rel="preload" as="font" type="font/woff2" crossorigin />
{% endfor %}
{% for style in styles %}
	{{ 'merged' in style.href ? '<link href="'~style.href~'" rel="preload" as="style" />' }}
	<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<script>const items_on_mobile = '{{ items_per_row_on_mobile }}', module_on_mobile = '{{ module_on_mobile }}', default_view = '{{ default_view }}', default_mobile_view = '{{ default_mobile_view }}';</script>
{% for script in scripts %}
	{{ 'merged' in script ? '<link href="'~script~'" rel="preload" as="script" />' }}
	<script src="{{ script }}"></script>
{% endfor %}
{% if user_js %}
<script>{{ user_js }}</script>
{% endif %}
{% for analytic in analytics %}
	{{ analytic }}
{% endfor %}
{{ menu_expanded ? '<style>@media (min-width:992px) {header .menu1 .menu__collapse {display:block !important}}</style>' }}
<noscript><style>.uni-module__wrapper{opacity:1}</style></noscript>
</head>
		

<body>
	<style>
        
    </style>

    <header class="header">
	<div class="header-top">
        <div class="container">
            <div class="header-top__wrapper">
            	<div class="header-top__contact">
	                <div class="header-top__location">
	                    <img src="/catalog/view/theme/unishop2/image/Map_Pin.svg" alt="">
	                    <span>Санкт-Петербург</span>
	                </div>
	                <div class="header-top__info">
	                    <div class="header-top__social">
	                        <img src="/catalog/view/theme/unishop2/image/telegramm.svg" alt="whatsapp">
	                        <img src="/catalog/view/theme/unishop2/image/whatsapp.svg" alt="telegram">
	                    </div>
	                    <div class="header-top__phone">
	                        <span class="header-top__phone-number">+7 (800) 777-59-34</span>
	                    </div>
	                </div>
	            </div>
	            <div class="header-top__menu">
	                <div class="header-top__menu-item">
	                    <a href="/catalog">О компании</a>
	                </div>
	                <div class="header-top__menu-item">
	                    <a href="/delivery">Бренды</a>
	                </div>
	                <div class="header-top__menu-item">
	                    <a href="/payment">Гарантии</a>
	                </div>
					<div class="header-top__menu-item">
	                    <a href="/payment">Доставка и оплата</a>
	                </div>
					<div class="header-top__menu-item">
	                    <a href="/payment">Вакансии</a>
	                </div>
					<div class="header-top__menu-item">
	                    <a href="/payment">Контакты</a>
	                </div>
	            </div>
            </div>
        </div>
	</div>
	<div class="container">
		<div class="header-block">
					<div class="header-block__item header-block__item-logo {{ menu_positions == 0 ? 'col-sm-6 col-md-3 col-lg-3 col-xxl-4' }}">
						<div id="logo" class="header-logo">
							{% if logo %}
								{% if og_url is defined and home == og_url %}
									<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" width="{{ logo_width }}" height="{{ logo_height }}" decoding="async" class="header-logo__img img-responsive" />
								{% else %}
									<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" width="{{ logo_width }}" height="{{ logo_height }}" class="header-logo__img img-responsive" /></a>
								{% endif %}
							{% else %}
								{% if og_url is defined and home == og_url %}
									<span>{{ shop_name }}</span>
								{% else %}
									<a href="{{ home }}">{{ shop_name }}</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					{% if menu_positions %}
						<div class="header-block__item header-block__item-menu hidden-xs hidden-sm">
							<button class="header-menu__btn"><i class="header-menu__icon fas fa-fw fa-bars"></i>{{ text_menu }}</button>
						</div>
					{% endif %}
					<div class="prmn-cmngr">{{ prmn_cmngr }}</div>
					<div id="search" class="  header-block__item header-block__item-search {{ search_phone_change ? 'order-2' }} hidden-xs hidden-sm">
						{{ search_new }}
					</div>
					{% if account.position == 2 %}
						<div class="header-block__item header-block__item-account {{ class }}">
							{% if logged %}
								<div class="header-account" title="{{ text_account_new }}">
									<i class="header-account__icon fas fa-user dropdown-toggle" data-toggle="dropdown"></i>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="{{ account.link }}"><i class="far fa-fw fa-user"></i>{{ text_account }}</a></li>
										<li><a href="{{ order }}"><i class="fas fa-fw fa-history"></i>{{ text_order }}</a></li>
										{% if account.transaction_link %}<li><a href="{{ transaction }}"><i class="fas fa-fw fa-exchange-alt"></i>{{ text_transaction }}</a></li>{% endif %}
										{% if account.download_link %}<li><a href="{{ download }}"><i class="fas fa-fw fa-download"></i>{{ text_download }}</a></li>{% endif %}
										<hr style="margin:5px 0" />
										<li><a href="{{ logout }}"><i class="fas fa-fw fa-sign-out-alt"></i>{{ text_logout }}</a></li>
									</ul>
								</div>
							{% else %}
								<div class="header-account uni-href" {% if account.popup_login %}onclick="uniLoginOpen();"{% else %} data-href="{{ login }}"{% endif %} title="{{ text_login_new }}"><i class="header-account__icon far fa-user"></i></div>
							{% endif %}
						</div>
					{% endif %}
					{% if wishlist and wishlist.position == 2 %}
						<div class="header-block__item header-block__item-wishlist">
							<div class="header-wishlist uni-href" data-href="{{ wishlist.href }}" title="{{ wishlist.text }}"><i class="header-wishlist__icon  fa-heart"></i><span class="header-wishlist__total-items">{{ wishlist.total }}</span></div>
						</div>
					{% endif %}
					{% if compare and compare.position == 2 %}
						<div class="header-block__item header-block__item-compare">
							<div class="header-compare uni-href" data-href="{{ compare.href }}" title="{{ compare.text }}"><i class="header-compare__icon fas fa-align-right"></i><span class="header-compare__total-items">{{ compare.total }}</span></div>
						</div>
					{% endif %}
					<div class="header-block__item header-block__item-cart">{{ cart }}</div>
				</div>
	</div>
        
	</header>
</body>